body {
    background-color:aqua;
}
.꼬부기1{
    border:6px solid blue;
}
h1 {
    background-color:white;
}
p {
    background-color:white;
    border:5px solid black;
    border-radius:10px
}
tr{
    background-color:white;
    border:5px solid black;
    border-radius:10px
    border-collapse: collapse;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color:lightcoral;
    border-radius: 8px;
    
}
li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}